###### Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [1]:
#Решение по заданию 1
import pandas as pd
RATINGS_PATH = "source/ml-latest-small/"

#загружаем файл
df_ratings = pd.read_csv(RATINGS_PATH + 'ratings.csv')

#опрделяем всех пользователей, которые поставили более 100 оценок
df_user_m100 = (df_ratings.groupby(by = 'userId').
                movieId.count().
                reset_index())

#переименовываем атрибуты фрейма
df_user_m100 = df_user_m100[(df_user_m100['movieId'] > 100)]
df_user_m100.columns = ['userId', 'count']

# операции: 
#1. группировка по пользователям, мининмальные и максимальные даты оценок 2
#2. отбираем из группировки #1 только пользователей, которые поставили свыше 100 оценок
# через объединение inner c df_user_m100
df_rezult = df_user_m100.merge( df_ratings.groupby(by = 'userId')['timestamp'].agg(['min', 'max']).reset_index(),
                                how = 'inner', 
                                on  = 'userId' )

#добавлем в результирующий фрейм время жизни
df_rezult['lifetime'] = pd.to_timedelta( (df_rezult['max'] - df_rezult['min']), unit = 's')

print('Результат:')
df_rezult[['userId', 'count', 'lifetime']]

Результат:

     userId  count           lifetime
0         4    204    2 days 08:32:40
1         8    116    0 days 23:39:47
2        15   1700 5455 days 22:38:16
3        17    363    0 days 02:14:13
4        19    423    0 days 01:28:02
..      ...    ...                ...
253     656    128    0 days 00:50:53
254     659    142  365 days 20:23:31
255     664    519 1136 days 08:20:39
256     665    434  626 days 12:31:11
257     671    115  130 days 14:26:24

[258 rows x 3 columns]

###### Задание 2

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия).  
..\lecture\12. Pandas_3_advanced\Python_13_join.ipynb  
Необходимо сформировать две таблицы:
- таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
- аналогичную таблицу по типам выручки с указанием адреса клиента  

Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

###### К Заданию 2
Дана статистика услуг перевозок клиентов компании по типам:
- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

In [2]:
# Решение по заданию 2
# Исходные данные
rzd = pd.DataFrame({'client_id': [111, 112, 113, 114, 115],
                    'rzd_revenue': [1093, 2810, 10283, 5774, 981]})

auto = pd.DataFrame({'client_id': [113, 114, 115, 116, 117],
                     'auto_revenue': [57483, 83, 912, 4834, 98]})


air = pd.DataFrame({'client_id': [115, 116, 117, 118],
                    'air_revenue': [81, 4, 13, 173]})

client_base = pd.DataFrame({'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
                            'address':   ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                                          'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']})

# Функция добавляет новое поля с типом транспорта и
# одинаково переименовывает фреймы
def transf_df(df, columns_, str_): 
    df.columns = columns_
    df['transport'] = str_
    
    return df

#Объединение rzd, auto, air в один датафрейм с атрибутами ['client_id', 'revenue', 'transport']
df_trafic = pd.concat([transf_df(rzd,  ['client_id', 'revenue'], 'rzd'),
                         transf_df(auto, ['client_id', 'revenue'], 'auto'),
                         transf_df(air,  ['client_id', 'revenue'], 'air')]).sort_values(by = 'client_id').reset_index()

#Все клиенты
df_client   = df_trafic[['client_id']].drop_duplicates(subset = 'client_id')

#Типы транспорта, используемого клиентами (как я понял понятие по 3 типам выручки из задания)
df_tansport = df_trafic[['transport']].drop_duplicates(subset = 'transport')

#Декартово произведение клиентов с типами транпорта (все со всеми) используя поле с одинаковым занчением по всем строкам
df_tabl1 = df_client.assign(key = 0).merge(df_tansport.assign(key = 0), on = 'key').drop("key", axis=1)


df_tabl2 = df_tabl1.merge(client_base, how = 'left', on = 'client_id')

print('Результат:\n', df_tabl1, '\n'*2, df_tabl2)

Результат:
     client_id transport
0         111       rzd
1         111      auto
2         111       air
3         112       rzd
4         112      auto
5         112       air
6         113       rzd
7         113      auto
8         113       air
9         114       rzd
10        114      auto
11        114       air
12        115       rzd
13        115      auto
14        115       air
15        116       rzd
16        116      auto
17        116       air
18        117       rzd
19        117      auto
20        117       air
21        118       rzd
22        118      auto
23        118       air

     client_id transport          address
0         111       rzd  Комсомольская 4
1         111      auto  Комсомольская 4
2         111       air  Комсомольская 4
3         112       rzd   Энтузиастов 8а
4         112      auto   Энтузиастов 8а
5         112       air   Энтузиастов 8а
6         113       rzd  Левобережная 1а
7         113      auto  Левобережная 1а
8         113       air  Левобережная 1а
9         114       rzd          Мира 14
10        114      auto          Мира 14
11        114       air          Мира 14
12        115       rzd        ЗЖБИиДК 1
13        115      auto        ЗЖБИиДК 1
14        115       air        ЗЖБИиДК 1
15        116       rzd    Строителей 18
16        116      auto    Строителей 18
17        116       air    Строителей 18
18        117       rzd  Панфиловская 33
19        117      auto  Панфиловская 33
20        117       air  Панфиловская 33
21        118       rzd     Мастеркова 4
22        118      auto     Мастеркова 4
23        118       air     Мастеркова 4

###### Задание 3

В задаче сквозной аналитики вам предоставили данные по местоположению пользователей.   
Т. е. для каждого user_id известна последовательность координат (широта/долгота), 
когда они требовались приложению для полноценной работы.  
###### Как бы вы добавили эти сведения в таблицу визитов и покупок?  
Для составления ответа можно использовать вопросы:
- У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?
- Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга.  
Как это отразится на вопросе расчетах пункта 1?
- Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

###### Решение по заданию 3  
Учитывая тот факт, что информация о меcтоположении пользователей за требовалась приложением "когда они требовались", 
то на входе у нас есть хронологическая таблица ЛОКАЦИЙ: user_id, time_location, latitude, longitude.

Таблица ВИЗИТОВ магазина (cчитаем его on-line) предполагаю: id, user_id, ip_source, time_visit, site_section
Таблица ПОКУПОК: таблица визитов + product, sum

1. для связывания с ВИЗИТОМ предлагаю использовать user_id и time (минимально допустимая разница отклонения - delta),
т.е. (ЛОКАЦИЯ.user_id = ВИЗИТ.user_id) & (abs(ЛОКАЦИЯ.time_location - ВИЗИТ.time_visit) < delta)  
2. абсолютно неважно где пользователь находился в момент визита по п.1 
3. варианты:
    - координаты возможно привязать к ближайшим к ним территориальным объектам (населенные пункты, путепроводы (авто, ж/д), 
вокзалы, аэропорты, объекты торговли, жилые комплексы, государственные учреждения, достопримечательности, прочая значимая инфраструктура);
    - сравнить расстояния между координатами разных пользователей;
    - местонахождения в разное время суток, дни недели, месяцы, сезоны;  
(Провести анализ для того чтобы оптимизировать логистику, склады, складские запасы)  
    - сравнить ip-источника и местоположение пользователя, выявить анонимных, скрытых пользователей.  
(Потенциальное мошенничество, кардинг)