###### Задание 1  
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:  
- если источник traffic_source равен yandex или google, то в source_type ставится organic
- для источников paid и email из России - ставим ad
- для источников paid и email не из России - ставим other
- все остальные варианты берем из traffic_source без изменений

In [1]:
import pandas as pd
#каталог, содержащий источники данных
SOURCE_DIR = 'source/'

df_log = pd.read_csv(SOURCE_DIR + 'visit_log.csv', sep = ';')

#все остальные варианты берем из traffic_source без изменений
df_log['source_type'] = df_log['traffic_source']

#если источник traffic_source равен yandex или google, то в source_type ставится organic
df_log.loc[df_log.traffic_source.isin (['yandex' ,'google']), 'source_type'] = 'organic'

#для источников paid и email из России - ставим ad
df_log.loc[(df_log.traffic_source == 'paid') & (df_log.region == 'Russia'), 'source_type'] = 'ad'

#все остальные варианты берем из traffic_source без изменений
df_log.loc[(df_log.traffic_source == 'paid') & ~(df_log.region == 'Russia'), 'source_type'] = 'other'

#Для проверки построим сводную таблицу по 'source_type' по составному инексу 'traffic_source','region'
print('Проверка:')
df_log.pivot_table(index = ['traffic_source','region'], columns = 'source_type', values = 'timestamp', aggfunc = 'count')

Проверка:

source_type                   ad  direct   email  organic  other
traffic_source region
direct         Australia     NaN   222.0     NaN      NaN    NaN
               Belarus       NaN   998.0     NaN      NaN    NaN
               China         NaN   397.0     NaN      NaN    NaN
               India         NaN   134.0     NaN      NaN    NaN
               Russia        NaN  4052.0     NaN      NaN    NaN
               Ukraine       NaN  1210.0     NaN      NaN    NaN
email          Australia     NaN     NaN   115.0      NaN    NaN
               Belarus       NaN     NaN   569.0      NaN    NaN
               China         NaN     NaN   252.0      NaN    NaN
               India         NaN     NaN    82.0      NaN    NaN
               Russia        NaN     NaN  2209.0      NaN    NaN
               Ukraine       NaN     NaN   648.0      NaN    NaN
google         Australia     NaN     NaN     NaN     91.0    NaN
               Belarus       NaN     NaN     NaN    376.0    NaN
               China         NaN     NaN     NaN    151.0    NaN
               India         NaN     NaN     NaN     55.0    NaN
               Russia        NaN     NaN     NaN   1435.0    NaN
               Ukraine       NaN     NaN     NaN    399.0    NaN
paid           Australia     NaN     NaN     NaN      NaN   74.0
               Belarus       NaN     NaN     NaN      NaN  368.0
               China         NaN     NaN     NaN      NaN  138.0
               India         NaN     NaN     NaN      NaN   39.0
               Russia     1581.0     NaN     NaN      NaN    NaN
               Ukraine       NaN     NaN     NaN      NaN  443.0
yandex         Australia     NaN     NaN     NaN     88.0    NaN
               Belarus       NaN     NaN     NaN    446.0    NaN
               China         NaN     NaN     NaN    171.0    NaN
               India         NaN     NaN     NaN     59.0    NaN
               Russia        NaN     NaN     NaN   1636.0    NaN
               Ukraine       NaN     NaN     NaN    500.0    NaN

###### Задание 2  
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:  

1. Прочитайте содержимое файла с датафрейм
2. Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [2]:
#считываем содержимое URLs.txt
df_url = pd.read_csv(SOURCE_DIR + 'URLs.txt')

#создаем новое поле "url_news"  на основе отфильтрованного значения по условию "/, затем 8 цифр, затем дефис" 
df_url['url_news'] = df_url[df_url.url.str.contains('/\d{8}-')].url

#проверяем результат фильтрации, находим все записи у котрых 'url_news' пустое значение, 
#при этом строки 'url' не должны соответствовать условию "/, затем 8 цифр, затем дефис"
print('Проверка, url НЕ соответствует условию "/, затем 8 цифр, затем дефис" \n', 
       df_url[df_url['url_news'].isnull() ].url, '\n')

print('Проверка, url_new СООТВЕТСТВУЕТ условию "/, затем 8 цифр, затем дефис" \n', 
       df_url[~df_url['url_news'].isnull()].url_news)

Проверка, url НЕ соответствует условию "/, затем 8 цифр, затем дефис"
 0             /world/
1            /latest/
2       /?updated=top
8           /science/
9             /sport/
32             /auto/
34          /scitech/
37        /lifestyle/
39    /latest/?page=1
Name: url, dtype: object

Проверка, url_new СООТВЕТСТВУЕТ условию "/, затем 8 цифр, затем дефис"
 3     /politics/36188461-s-marta-zhizn-rossiyan-susc...
4     /world/36007585-tramp-pridumal-kak-reshit-ukra...
5     /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6     /video/36001498-poyavilis-pervye-podrobnosti-g...
7     /world/36007585-tramp-pridumal-kak-reshit-ukra...
                            ...
88    /cis/35984145-kreml-prokommentiroval-soobschen...
89    /video/36071019-olimpiyskie-obekty-rio-prevrat...
90    /science/36151301-nazvano-posledstvie-zloupotr...
91    /incidents/36027330-vospitatelnitsu-zatravili-...
92    /world/36103095-dominikanskih-zhurnalistov-ubi...
Name: url_news, Length: 84, dtype: object

###### Задание 3

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [3]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

#подключаем модуль из библиотеки pymystem3
from pymystem3 import Mystem
#инициилизируем класс
m = Mystem()
#В датафрейме data создайте столбец lemmas строкогового типа, в котором вычислите леммы поисковых запросов из столбца keyword
data['lemmas'] = data.keyword.apply(lambda str_: ''.join(m.lemmatize(str_)))

data

                 keyword   shows                 lemmas
0    курс гривны к рублю  125076  курс гривна к рубль\n
1        доллары в рубли  114173       доллар в рубль\n
2  100 долларов в рублях   97534   100 доллар в рубль\n
3             курс рубля   53546           курс рубль\n